
    <div class="contenedor principal">
        <div class="titulo">
            <h1>Recuperar contraseña</h1>
        </div>
        <div class="formulario-contenedor">
                <div class="usuario_form">
                    <label for="">Digite su nombre de usuario</label>
                    <input type="text" name="usuario" id="usuario" class="input_usuario" required [(ngModel)]="nombreUsuarioRec">
                </div>

                <div class="contrasena_form">
                    <label for="">Digite su nueva contraseña</label>
                    <input type="password" name="contrasena" id="contrasena" class="input_contrasena" required [(ngModel)]="contrasenaRec">
                </div>

                <div class="botones">
                    <button (click)="validarRec()" class="inicio">Cambiar</button>
                </div>

                <div id="mensajeRec">{{ mensajeRecuperacion }}</div>
        </div>
    </div>
